<!DOCTYPE html>
<html>
<head>
	<title><%= message%></title>
	  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/tugas4/css/materialize.min.css">
  <link href="/tugas4/css/icon.css" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="/tugas4/css/afterUpload.css">
</head>
<body>

	<center>
		<p><%= message%></p>
    <br/>
    <a href="https://rahman.sisdis.ui.ac.id/tugas4/klien"> Back To Home</a>
	</center>

  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="/tugas4/js/jquery-2.1.1.min.js"></script>
  <script src="/tugas4/js/materialize.min.js"></script>
</body>
</html>
